# NEXT_PUBLIC_ vars are safe to commit — no secrets (testnet only, client-side)
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_NETWORK_PASSPHRASE=enter_the_network_passphrase
NEXT_PUBLIC_CONTRACT_ID=CAM35KLUIZ5L4OYVFZ4XZN7TFKLYVWCR67XWU4LADGYAAR4DIYL4SN7U
